.app{
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
}

.sidebar{
    background-color: var(--bg-secondary);
    padding: var(--spacing-lg) var(--spacing-sm);
}

.app-title{
    color: var(--accent-blue);
    font-size: 1.5rem;
    margin-bottom: var(--spacing-lg);
    padding-left: var(--spacing-xs);
}

.nav-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

.nav-item{
    display: flex;
    align-items: center;
    padding: 0.75rem var(--spacing-sm);
    color: var(--text-secondary);
    text-decoration: none;
    border-radius: var(--radius-md);
    transition: background-color 0.2s;
}

.nav-item:hover{
    background-color: var(--bg-hover);
}

.nav-item.active{
    background-color: var(--accent-blue);
    color: white;
}

.nav-icon{
    font-size: 1.2rem;
    margin-right: 0.75rem;
}

/*main content */
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--spacing-lg);
}

.page-header{
    min-width: 60%;
    margin-bottom: var(--spacing-xl);
}
.page-title{
    font-size: 2.5rem;
    margin-bottom: var(--spacing-xs);
}

.date{
    color: var(--text-secondary);
    font-size: 1rem;
}

.section-title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: var(--spacing-xs);
}